{{template "head" .}}

<h2 class="content-subhead">Charts</h2>
<div class="pure-g">
  <div class="pure-u-1-2">
    <div id="piechart" style="width:300; height:200"></div>
    <script type="text/javascript" src="js/piechart.js"></script>
  </div>
  <div class="pure-u-1-2">
    <div id="barchart" style="width:300; height:200"></div>
    <script type="text/javascript" src="js/barchart.js"></script>
  </div>
</div>

<h2 class="content-subhead">Norway</h2>
<div class="pure-g">
  <div class="pure-u-1">
    <div id="Norway" style="width:400; height:200"></div>
    <script type="text/javascript" src="js/Norway.js"></script>
  </div>
</div>

<h2 class="content-subhead">Text</h2>
<p>
blabla
</p>



{{template "tail" .}}
